.App {
  text-align: center;
  padding: 1%;
}

/* Folha de stilos do componente "Hero" */

.hero {

  background-color: rgb(7, 6, 20);
  background-size: auto;
}
.hero > nav {
  display: flex;
  justify-content:space-between;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 2%;

}
.hero > div {
  display: flex;
  flex-wrap: wrap;
  padding-left: 5%;
  padding-top: 15%;

}
.hero > div > h1 {
  font-size: 500%;
  font-weight: bold;
  color: azure;
  margin-right: 60%;
  text-align: left;
}
.hero > div > h2 {
  color:rgb(216, 214, 214);
  margin-right: 60%;
  text-align:left;
  margin-bottom: 10%;
  font-weight: lighter;
}
.hero > div > button {
  font-size: 150%;
  font-weight: bold;
  margin-bottom: 8%;
  padding: 2%;
}

/* Folha de stilos do componente "Icons" */
.icons > nav {
  display: flex;
  justify-content: space-between;
  padding-left: 1%;
  margin-top: 15%;
}
.icons > nav > div > h1 {
  padding-left: 20%;
  text-align: left;
}

.icons > nav > div > b {
  display: flex;
  color: grey;
  text-align:justify;
  padding-left: 20%;
  padding-right: 20%;
}
